[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/nicoulaj/zsh-syntax-highlighting.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = git://github.com/gmarik/vundle.git
