<?php

namespace ${1:`substitute(substitute(substitute(expand("%:p"), '\v(.*\/\l+)((\/\u\w+)+)\/\u\w+.php$', '\2', ''), '\/', '\\\', 'g'), '^\\\', '', '')`};

/**
 * @author Henrik Bjornskov <henrik@bjrnskov.dk>
 */
class ${2:`Filename('', 'myClass')`}
{
    ${3}
}
