<?php

namespace ${1:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

/**
 * @author Henrik Bjornskov <henrik@bjrnskov.dk>
 */
class ${2:`Filename('', 'myClass')`}
{
    ${3}
}
